# Python
__pycache__/
*.py[cod]
*$py.class
/ModelNet40/
/ModelNet10/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
data/
pointnet_modelnet10/
pointnet_modelnet40/
pointtransformer_modelnet10/
pointtransformer_modelnet40/
pytorch3d/


# Virtual Environment
.venv/
ENV/


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 